## Clojure Artifacts
.nrepl-port
*.class
*.jar
.hg/
/.cpcache
/.lein-*
/.nrepl-history
/checkouts
/classes
/target

## Maven Artifacts
pom.xml
pom.xml.asc
pom.xml.versionsBackup
META-INF/

## Editor-Specific Files
*.swp
*.swo
**/.calva
**/.cpcache
*.DS_Store
*.calva
*.cpcache
*.lsp
